@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {

    font-family: "Roboto", sans-serif;
    margin: 0;
}
header{
    background-image: url('car.jpg');
    background-size: cover;
    background-position: center center;
    color:white;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}

.container{
    margin:0 auto;
    max-width: 100%;
    width:100px;
}

nav {

display :flex;
justify-content: space-between;
padding:1rem;
}

nav .logo{

font-size :2rem;

}

nav ul{

    display:flex;
    list-style-type: none;
    padding: 0;

}
nav li {


}

nav li a{

 color:white;
 text-decoration: none;
 padding: 1rem;
}

.selected{

font-weight:bold;   

}
.highlight{

    background-color: aqua;


}